button {
    background-color: rgb(119, 226, 208);
    border: 1px solid black;
    width: 100px;
    height: 50px;

}

.dropdown_btn_item {
    visibility: hidden;
    z-index: 1;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 237, 192);
    max-width: 100px;
    height: 30px;
    text-decoration: none;
    color: rgb(50, 173, 134);
}

button:hover {
    background-color: rgb(136, 235, 157);
    cursor: pointer;
}

.dropdown_btn:hover .dropdown_btn_item  {
    visibility: visible;
}


